DJANGO_ALLOWED_HOSTS="ninfo.example.com"

DJANGO_SUPERUSER_USERNAME="nadmin"
DJANGO_SUPERUSER_PASSWORD="CHANGETHISDUXN7bqMkuZ8"
DJANGO_SUPERUSER_EMAIL="email@address"
DJANGO_SECRET_KEY='changethishvZMSmFVD7GHhvZMSmFVD7GHhvZMSmFVD7GH'
# Do not use debug in production
DJANGO_DEBUG=True
# Add this line if you're not using HTTPS:
# DJANGO_URL_SCHEME=http

# Comma-separated list of ninfo-plugin git repos to include
# Recommended default plugins (uncomment to use):
CUSTOM_GIT_REPOS="https://github.com/JustinAzoff/ninfo-plugin-cymruwhois.git,https://github.com/dlewen/ninfo-plugin-shodan-internetdb.git"
# Or leave empty and add your own:
# CUSTOM_GIT_REPOS=""
